# Virtual Environment
venv/
__pycache__/

# Compilação C
codigo base/*.o
codigo base/base

# Arquivos temporários
temp.dat

# LaTeX
relatorio_tp03/*.aux
relatorio_tp03/*.bbl
relatorio_tp03/*.blg
relatorio_tp03/*.log
relatorio_tp03/*.out
relatorio_tp03/*.toc
relatorio_tp03/*.nav
relatorio_tp03/*.snm
relatorio_tp03/*.vrb
relatorio_tp03/*.synctex.gz
apresentacao/*.aux
apresentacao/*.log
apresentacao/*.out
apresentacao/*.toc
apresentacao/*.nav
apresentacao/*.snm
apresentacao/*.vrb
apresentacao/*.synctex.gz
