# Conda / Micromamba Local Environment (não commitar — vários GBs)
env/

# Bibliotecas R geradas localmente
data/*.csv
data/*.RData

# Relatórios e gráficos gerados
reports/*.pdf
reports/*.html
reports/*.png

# Arquivos de sessão do R (gerados automaticamente)
.Rhistory
.RData
.Ruserdata
*.Rproj.user/

# Logs do RCommander
/tmp/rcmdr*.log
